<h3>Edit Maintenance or Feature</h3>
<%= render partial: 'form', locals: {submit_button: "Edit Maintenance or Feature"}%>
<%= button_to 'Delete Maintenance or Feature', maintenance_feature_path(@maintenance_feature), method: "delete" %>


