<h3>Needs Valet</h3>
<%=render partial: 'maintenance_feature', collection: @maintenance_feature_needs_attention, as: :maintenance_feature %>
<h3>Valeted Trails<h3>
<%=render partial: 'maintenance_feature', collection: @maintenance_feature_task_completed, as: :maintenance_feature %>