
<li><%= link_to trail.name, trail_path(trail) %></li>
<%= trail.location%>
    <ul>
    <% trail.maintenance_features.each do |mf| %>
   <li><%= link_to  "#{mf.attributes_string}", trail_maintenance_feature_path(mf.trail.id, mf) %></li>
    <%end%>
    </ul>
    <%= link_to 'Create Maintenance or Feature', new_trail_maintenance_feature_path(trail) %>
