<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Trail Head</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/trails">Trails</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/maintenance_features">Valet</a>
  </li>
</ul>
</nav>