<nav class="navbar navbar-light" style="background-color: #643F2F;">
<ul class="nav">
  <li class="nav-item" style="color: #78c4d4">
    <a class="nav-link active" aria-current="page" href="/">Trail Head</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/trails">Trails</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/maintenance_features">Valet</a>
  </li>
</ul>
</nav>